.list {
    color: aliceblue;
    text-align: center;
    background-color: gray;
    margin: 1px;
}
th{
    border-spacing: 10px;
}
.flex-container{
    display: flex;
    flex-wrap: nowrap;
    background-color: gray;
    
}
.flex-container > div {
    
    width: 100px;
    margin: 50px;
    border-color:5px solid blue;

}